


.main_title{
    
    color: #84898C;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 2px 5px 5px;
    margin: 2px;
}

.sub_title{

    color : #658DC6;
    font-size: 20px;
    display: inline-block;
    padding: 5px 5px 5px 2px;
    margin: 2px;
}